<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      APPmel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-label>
      <br>
      <h1><b>LISTE DES CLASSES</b></h1>
    </ion-label>
    <ion-button (click)="runHttp()">Load class list</ion-button>
    <ion-list *ngFor="let classe of classes">
      <ion-item button (click)="goToSessionsPage(classe.id, classe.nom)">
        <ion-avatar slot="start">
          <img src="https://img.icons8.com/bubbles/2x/classroom.png">
        </ion-avatar>
        <h4>{{ classe.nom }}</h4>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
